footer.text-gray-500.body-font
  .bg-gray-900.relative
    .container.mx-auto.py-4.px-5.flex.flex-wrap.flex-row.justify-between(class='flex-row')
      p.text-gray-600.text-sm.text-center(class='sm:text-left')
        | &copy; 2020 (* ^ &omega; ^)
        // <a href="https://twitter.com/" rel="noopener noreferrer" class="text-gray-500 ml-1 nav-item" target="_blank">@bigkusa</a>
        a.text-gray-500.ml-1.nav-item(href='#top') Return to top
      span.inline-flex.justify-center(class='sm:mt-0 sm:justify-start')
        a.ml-3.nav-item(href='https://www.instagram.com/')
          svg.w-5.h-5(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewbox='0 0 24 24')
            rect(width='20' height='20' x='2' y='2' rx='5' ry='5')
            path(d='M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01')