header.text-gray-500.bg-gray-900.body-font
  .container.mx-auto.flex.flex-wrap.p-5.flex-col.items-center(class='md:flex-row')
    a.flex.title-font.font-medium.items-center.text-white.mb-4.nav-item(class='md:mb-0' href='./index.pug')
      img.w-10.h-10.text-white.bg-indigo-500.rounded-full(src='./images/profile.png' alt='A photo of Towa' srcset='')
      span.ml-3.text-xl (* ^ &omega; ^)
    nav.flex.flex-wrap.items-center.text-base.justify-center(class='md:ml-auto')
      a.mr-5.text-lg.nav-item(href='./about.pug') About
      a.mr-5.text-lg.nav-item(href='./gallery-extra.pug') Work
      //- instagram link
      a.nav-item(href='https://www.instagram.com/')
        svg.w-5.h-5(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewbox='0 0 24 24')
          rect(width='20' height='20' x='2' y='2' rx='5' ry='5')
          path(d='M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01')